<!DOCTYPE html>  
<html>  
<head>  
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" />

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}"/>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="{{url_for('static', filename='popper.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrapjs.js')}}"></script>

    <script>
      $(document).ready(function() {
          var messages = "{{ get_flashed_messages() }}";
    
          if (typeof messages != 'undefined' && messages != '[]') {
              $("#myModal").modal('show');
          };
      });
    </script>
</head>  
<body>
  <h1 class="header">Simple Hospital</h1>
  <div class="navbar-crud">
    <a href="/">Home</a>
    <a href="/viewTrans">Record Trans</a>
    <div class="dropdown-crud">
      <button class="dropbtn-crud">Pasien
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-crud">
        <a href="/showAvailableDokter">Book Dokter</a>
      </div>
    </div>
    <div class="dropdown-crud">
        <button class="dropbtn-crud">Dokter
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content-crud">
          <a href="/showDokterInTrans">Checking Dokter</a>
        </div>
    </div>
    <a href="/showPaymentList">Payment</a>
    <div class="dropdown-crud">
      <button class="dropbtn-crud">Master
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-crud">
        <a href="/viewDokter">Master Dokter</a>
        <a href="/viewPasien">Master Pasien</a>
    </div>
    </div>
  </div>
  <!-- MODAL -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content-handling">
          <div class="modal-header-handling">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">CAUTION</h4>
          </div>
          <div class="modal-body-handling">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class=flashes>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
          </div>
          <div class="modal-footer-handling">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>

  </div>
</div>
  {% block content %}
  
  {% endblock %}
</body>  
</html>